<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Accent character lookup</mat-card-title>
    <mat-card-subtitle>Click on a character to copy into your clipboard. Press any key to exit.</mat-card-subtitle>
  </mat-card-header>
   <mat-card-content>
    
      <table mat-table [dataSource]="accentCharacterViewModels" class="mat-elevation-z8 unselectable">

          <ng-container matColumnDef="standard">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let user"> {{user.standard}} </td>
          </ng-container>
      
          <ng-container matColumnDef="A">
              <th mat-header-cell *matHeaderCellDef> Acute </th>
              <td mat-cell *matCellDef="let element" [cdkCopyToClipboard]="element.A" (click)="onCellClick(element.A)">
                  {{element.A}}
              </td>
          </ng-container>
      
          <ng-container matColumnDef="G">
              <th mat-header-cell *matHeaderCellDef> Grave </th>
              <td mat-cell *matCellDef="let element" [cdkCopyToClipboard]="element.G"
              (click)="onCellClick(element.G)">
              {{element.G}}
              </td>
          </ng-container>
      
          <ng-container matColumnDef="C">
              <th mat-header-cell *matHeaderCellDef> Circumflex </th>
              <td mat-cell *matCellDef="let element" [cdkCopyToClipboard]="element.C"
              (click)="onCellClick(element.C)">
              {{element.C}}
              </td>
          </ng-container>
      
          <ng-container matColumnDef="U">
              <th mat-header-cell *matHeaderCellDef> Umlaut </th>
              <td mat-cell *matCellDef="let element" [cdkCopyToClipboard]="element.U"
              (click)="onCellClick(element.U)">
              {{element.U}}
              </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </mat-card-content>
</mat-card>